<nav class="nav navbar-light bg-light sticky-top">
    <a class="nav-link mt-2 ml-2" style="text-decoration: none; color: inherit" [routerLink]="['/produtos']">Listar produtos</a>
    <a class="nav-link mt-2" style="text-decoration: none; color: inherit" [routerLink]="['/salvar']">Criar Produto</a>
    <a class="nav-link mt-2 ml-2" style="text-decoration: none; color: inherit" [routerLink]="['/']">Vencimentos</a>
    <a class="nav-link mt-2 ml-2" style="text-decoration: none; color: inherit" [routerLink]="['/adicionar']">Adicionar vencimento</a>
</nav>